<h2>Nova Postagem</h2>
<a href="/admin/postagens/add"><button class="btn btn-success">Criar</button></a>


{{#each postagens}}
    <div class="card mt-4">
        <div class="card-body">
            <h4>{{titulo}}</h4>
            <p>{{descricao}}</p>
            <small>{{date}}</small><br>
            <small>{{categoria.nome}}</small><br>
            <a href="/admin/postagens/edit/{{_id}}"><button class="btn btn-success">Editar</button></a><br>
             <a href="/admin/postagens/deletar/{{_id}}"><button class="btn btn-danger">Deletar</button></a>
        </div>
    </div>

{{else}}
<p>nenhuma postagem</p>

{{/each}}